.works__heading {
  /* flex: 3; */
  /* height: 100%; */
}
.works__content {
  min-height: 0;
}

.swiper {
  overflow: visible;
}
.swiper-slide {
  border-radius: 1% 1%;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-swiper .swiper-button-prev {
  position: absolute;
  left: 10rem;
  top: -10rem;
  z-index: 10;
}

.my-swiper .swiper-button-next {
  position: absolute;
  right: 10rem;
  top: -10rem;
  z-index: 10;
}

.my-swiper .swiper-button-prev::after {
  content: '←';
}
.my-swiper .swiper-button-next::after {
  content: '→';
}
