*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

/* Large desktop & up: ~11px */
@media (min-width: 1440px) {
  html {
    font-size: 68.75%;
  }
}

/* Wider screens & up: ~12px */
@media (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}

/* Full-HD & up: ~13px */
@media (min-width: 1920px) {
  html {
    font-size: 81.25%;
  }
}

/* Ultra-wide & up: ~14px */
@media (min-width: 2560px) {
  html {
    font-size: 87.5%;
  }
}
/* Laptop */
@media (max-width: 1199px) {
  html {
    font-size: 56.25%; /* 9px */
  }
}

/* Tablet */
@media (max-width: 991px) {
  html {
    font-size: 50%; /* 8px */
  }
}

/* Phablet */
@media (max-width: 767px) {
  html {
    font-size: 43.75%; /* 7px */
  }
}

/* Phone */
@media (max-width: 575px) {
  html {
    font-size: 37.5%; /* 6px */
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
